/cacheflow/web/ui
/docs/_build

# Packages
*.egg
*.egg-info
dist
build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Eclipse PyDev
.project
.pydevproject

# PyCharm
.idea

# Misc
*.py[co]
.DS_Store
